body {

    background-color: #104D86;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card-contaner {

    background-color: #ECECEC;
    height: 260px;
    width: 270px;
    margin-top: 90px;
    border-radius: 1.1%;
   
    

};




.form-container {

    background-color: #ECECEC;
    align-items: center;
   
  
}

input {

    background-color: #ffffff;
    border-color: white;
    border: none;
    border-radius: 1.1%;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 19%;
    padding-left: 7px;
    padding-bottom: 4px;
    
    
}

#email {

    margin-top: 50px;
}

#password {

    margin-top: 20px;
}

#login-button {

    background-color: #104D86;
    border: none;
    color: white;
    margin-left: 19%;
    margin-top: 20px;
    padding: 10px;
    width: 172px;
    text-align: center;
    
}